<!-- get template-->
<html>
{{template "head" .}}
<body>
    {{template "header" .}}
    <div class="container-fluid">
        <div class="row m-3">
            <div class="col-1">
                <a class="btn btn-primary w-100" href="/product/edit/{{.ID}}">編集</a>
            </div>
            <div class="col-1">
                <a class="btn btn-danger w-100" href="/product/delete/{{.ID}}">削除</a>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <table class="table table-bordered align-middle">
                    <tr>
                        <th class="table-dark">ID</th><td>{{.ID}}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Name</th><td>{{.Name}}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Price</th><td>{{.Price}}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Description</th><td>{{.Description}}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Image</th><td>{{.Image}}</td>
                    </tr>
                </table>
            </div>
        </div>
</body>
</html>