/* header */
.nav-link:focus, .nav-link:hover {
    border-bottom: 1px solid white;
}
.nav-link.text-secondary {
    border-bottom: 1px solid orange;
}

/* product/view */
.img-thumbnail.product-thumnail{
    height: 50px;
}

/* product/:id */
#product-get .product-image {
    height: 100px;
}